.c {
  height: 100vh;
  position: relative;
}

.c-bg {
  width: 20px;
  height: 100%;
  background-color: #64ffda;
  position: absolute;
}

.c-wrapper {
  padding: 50px;
  display: flex;
}

.c-left {
  flex: 1;
}
.c-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.c-title {
  font-size: 60px;
  width: 80%;
  color: #ccd6f6;
  margin-bottom: 80px;
}

.c-info-item {
  display: flex;
  align-items: center;
  margin: 25px 0px;
  font-size: 20px;
  font-weight: 300;
  width: 70%;
  color: #8892b0;
}

.c-icon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.c-desc {
  font-weight: 200;
  color: #ccd6f6;
}

form {
  margin-top: 20px;
}

input {
  color: #8892b0;
  width: 50%;
  height: 50px;
  border: none;
  border-bottom: 1px solid#64ffda;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

input::placeholder {
  color: #ccd6f6;
}

textarea {
  color: #8892b0;
  width: 100%;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
  border-color: #64ffda;
}

textarea::placeholder {
  color: #ccd6f6;
}
button {
  border: none;
  background-color: none;
  padding: 10px 15px;
  color: #64ffda;
  border: 1px solid#64ffda;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: #8892b0;
}

@media screen and (max-width: 480px) {
  .c {
    margin-top: 30px;
  }
  .c-wrapper {
    flex-direction: column;
    padding: 0px 50px;
  }

  .c-title {
    font-size: 30px;
    margin-bottom: 50px;
  }

  .c-info-item {
    margin: 20px 0px;
    width: 100%;
    font-size: 15px;
  }

  .c-desc {
    display: none;
  }

  form {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
  }

  input {
    width: 40%;
    height: 40px;
    margin: 10px 10px 10px 0px;
  }
  button {
    padding: 5px 10px;
    margin-top: 8px;
  }
}
